{% extends "base.html" %}
{% block content %}
    <h1>Lista de Alunos</h1>
    <a href="{% url 'home' %}">Voltar</a>
    <a href="{% url 'criar_pessoa' %}">Adicionar Novo Aluno</a>
    <br><br>
    <table border="1" cellpadding="8" cellspacing="0">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>CPF</th>
                <th>Cidade/UF</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for pessoa in pessoas %}
            <tr>
                <td>{{ pessoa.id }}</td>
                <td>{{ pessoa.nome }}</td>
                <td>{{ pessoa.cpf }}</td>
                <td>{{ pessoa.cidade }} - {{ pessoa.estado }}</td>
                <td>
                    <a href="{% url 'detalhes_pessoa' pessoa.id %}">Ver</a> | 
                    <a href="{% url 'editar_pessoa' pessoa.id %}">Editar</a> | 
                    <a href="{% url 'deletar_pessoa' pessoa.id %}">Excluir</a>
                </td>
            </tr>
            {% empty %}
            <tr><td colspan="5">Nenhum aluno cadastrada.</td></tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}