{% extends "base.html" %}
{% block content %}
    <h1>Lista de Matrículas</h1>
    <a href="{% url 'home' %}">Voltar</a>
    {% if perms.matricula.add_matricula %}
        <a href="{% url 'criar_matricula' %}">Adicionar Nova Matrícula</a>
    {% endif %}
    <br><br>
    <table border="1" cellpadding="8" cellspacing="0">
        <thead>
            <tr>
                <th>ID</th>
                <th>Aluno(a)</th>
                <th>Turma</th>
                <th>Data</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for matricula in matriculas %}
            <tr>
                <td>{{ matricula.id }}</td>
                <td>{{ matricula.pessoa.nome }}</td>
                <td>{{ matricula.turma.nome }}</td>
                <td>{{ matricula.data_matricula }}</td>
                <td>
                    <a href="{% url 'detalhes_matricula' matricula.id %}">Ver</a>
    {% if perms.matricula.change_matricula %}
        | <a href="{% url 'editar_matricula' matricula.id %}">Editar</a>
    {% endif %}
    {% if perms.matricula.delete_matricula %}
        | <a href="{% url 'deletar_matricula' matricula.id %}">Excluir</a>
    {% endif %}
                </td>
            </tr>
            {% empty %}
            <tr><td colspan="5">Nenhuma matrícula registrada.</td></tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}